.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
venv/
postgres-data/
.mypy_cache/
mypy_cache/**
.mypy_cache
test_migrations/